.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.card {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
}
